html {
  scroll-behavior: smooth;

}

body {
  background-color: black;
  margin: 0px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-top: 25px;
  margin-bottom: -8px;
  position: fixed;
  background-color: black;
  border-bottom: 2px solid lightgrey;
}
ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}
ul li {
  margin-right: 20px;
  margin-left: 100px;
}
a {
  color: white;
  font-family: fantasy;
  font-size: 18px;
  text-decoration: none;
}

.logonav {
  width: 170px;
  height: 70px;
  margin-left: 290px;
  margin-right: 150px;
  margin-top: -25px;
}
.instagram {
  width: 65px;
  height: 40px;
}
.twitter {
  width: 55px;
  height: 33px;
}

.instaposicion {
  margin-top: -10px;
}

.twitterposicion {
  position: absolute;
  left: 1750px;
  top: 33.5px;
}
.bordenav {
  border-bottom: 2px solid lightgray;
}
.containerportada {
  width: 100%;
  height: 800px;
}

.portada {
  width: 100%;
  height: 800px;
}
.tituloportada {
  color: white;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  font-style: oblique;
  font-family: fantasy;
  margin: 0px;
  font-weight: 300;
}
.since {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-style: oblique;
  font-family: fantasy;
  margin: 0px;
  font-weight: 10;
}
.containeralacarta {
  border-top: 2px solid rgb(211, 211, 211);
  background-color: #181717;
  width: 100%;
  height: 800px;
}
.containersobrenosotros {
  border-top: 2px solid lightgray;
  background-color: black;
  width: 100%;
  height: 800px;
}
.containerhorario {
  border-top: 2px solid rgb(211, 211, 211);
  background-color: #181717;
  width: 100%;
  height: 500px;
}
.titulo-a-la-carta {
  color: white;
  font-family: fantasy;
  font-weight: 100;
  margin-top: 50px;
  margin-left: 100px;
}

.titulosobrenosotros {
  color: white;
  font-family: fantasy;
  font-weight: 100;
  margin-top: 50px;
  margin-left: 1600px;
}
.titulohorario {
  color: white;
  font-family: fantasy;
  font-weight: 100;
  margin-top: 50px;
  margin-left: 100px;
}
