body {
  background-color: black;
  margin: 0px;
}

nav {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 10px;
  margin-top: 15px;
  margin-bottom: -8px;
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul li {
  margin-right: 20px;
  margin-left: 100px;
}
a {
  color: white;
  font-family: fantasy;
  font-size: 17px;

}

.logonav{
  width: 170px;
  height: 70px;
  margin-left: 290px;
  margin-right: 150px;
  margin-top: -25px;
}
.instagram{
  width: 65px;
  height: 40px;

}
.twitter{
  width: 60px;
  height: 35px;


}

.instaposicion{
  margin-top: -10px;
}

.twitterposicion{
  position: absolute;
  left: 1730px;
  top: 18px;
}
.bordenav{
  border-bottom: 1px solid lightgray;
}